/* src/styles/Footer.css */
.footer {
    background: #111;
    padding: 1rem 0;
    text-align: center;
    text-align: center;
    /* color: white; */
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bi-facebook {
    color: #3b5998; /* Facebook Blue */
}

.bi-instagram {
    color: #e1306c; /* Instagram Pink */
}

.bi-twitter {
    color: #1da1f2; /* Twitter Blue */
}
